/* here you can put your own css to customize and override the theme */
.marker{background-color:#F4D03F;}
.employee-list .portlet.light .dataTables_wrapper .dt-buttons
{
    margin-top: -4px;
    margin-right: 3px;
}

.reports-wrapper  .portlet.light .dataTables_wrapper .dt-buttons {margin-top:0px;}

.employee-list .dataTables_wrapper .dataTables_filter,
.payout-list .dataTables_wrapper .dataTables_filter,
.payout-details .dataTables_wrapper .dataTables_filter,
.employee-details .dataTables_wrapper .dataTables_filter
 {
    float: left;
    text-align: right;
}

.related-jobs input.btn.sbold.green {
    float: right;
    position: relative;
    right: 74px;
    top: 12px;
}

/* ERROR REQUIRED */
.is-required {
    color: red;
}

/* Payout */

.payout-list .portlet.light > .portlet-title > .actions {
    padding: 6px 0 14px 16px;
}

.payout-list .portlet > .portlet-title > .actions {
    float: left;
    display: inline-block;
    padding: 6px 0;
}

.payout-list .pay-job {
    float: right;
    position: relative;
    right: 74px;
    top: 14px;
}

.no-border.table-scrollable{border:0px}

.star-rating{font-size:20px;}

/** Custom CSS Users Mgt */
.users-mgt a.dt-button.buttons-excel.buttons-html5.btn.sbold.red {
    display: none;
}
.users-mgt .employer-multiple {
    position: relative;
    overflow: scroll;
    height: 150px;
    /*background-color: #fff;*/
    border: 1px solid #c2cad8;
    /*border-radius: 4px;*/
    width: 55%;
    margin-left: 17px;
    padding-top:10px;
}
.users-mgt .form-group .mt-checkbox-inline {
    padding:0;

}